body {
    margin: 0;
}
@media only screen and (min-width: 732px) {
    .header {   
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        background-color: rgb(90, 225, 249);
    }

    .cloud-to-right {
        margin-top: 100px;
        height: 200px;
        width: 400px;
        background-color: white;
        opacity: .9;
        clip-path: polygon(7% 23%, 10% 16%, 19% 11%, 25% 14%, 33% 16%, 38% 21%, 44% 19%, 48% 13%, 54% 9%, 61% 9%, 69% 9%, 77% 11%, 81% 16%, 86% 13%, 92% 19%, 94% 25%, 95% 32%, 95% 39%, 94% 46%, 92% 54%, 88% 60%, 80% 61%, 70% 61%, 63% 61%, 55% 56%, 49% 56%, 43% 60%, 36% 64%, 28% 68%, 18% 68%, 11% 63%, 7% 59%, 3% 51%, 1% 41%, 1% 32%, 1% 28%);
        transform: translate(-20em,0);
    }

    .cloud-to-left {
        margin-top: 300px;
        height: 300px;
        width: 500px;
        background-color: white;
        opacity: .5;
        clip-path: polygon(7% 23%, 10% 16%, 19% 11%, 25% 14%, 33% 16%, 38% 21%, 44% 19%, 48% 13%, 54% 9%, 61% 9%, 69% 9%, 77% 11%, 81% 16%, 86% 13%, 92% 19%, 94% 25%, 95% 32%, 95% 39%, 94% 46%, 92% 54%, 88% 60%, 80% 61%, 70% 61%, 63% 61%, 55% 56%, 49% 56%, 43% 60%, 36% 64%, 28% 68%, 18% 68%, 11% 63%, 7% 59%, 3% 51%, 1% 41%, 1% 32%, 1% 28%);
    }

    .header:hover .cloud-to-right {
        transition: 100s;
        transform: translate(100em,0);
    }
    
    .header:hover .cloud-to-left {
        transition: 200s;
        transform: translate(-100em,0);
    }

    .header-to-body {
        height: 100vh;
        width: 100vw;
        background: linear-gradient(to bottom, rgba(90,225,249,1) 0%, rgb(2, 2, 74) 100%);
    }
}

.body-1 {
    height: 100vh;
    width: 100vw;
    background-color: rgb(2, 2, 74);
    position: relative;
    overflow: hidden;
}

.moon {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 200px;
    font-size: 100px;
    background-color: whitesmoke;
    border-radius: 50%;
    margin-left: 10px;
    overflow: hidden;
}

@media only screen and (max-width: 732px) {
    .moon {
        height: 50px;
        width: 50px;
    }
}

#partition {
    background-color: black;
}

.body-to-bottom {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgb(2, 2, 74) 0%, rgb(0, 0, 21) 100%);
}

.bottom {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 21);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom i {
    color: white;
    font-size: 100px;
    opacity: .8;
}

.bottom i:hover {
    text-shadow: 0 0 0.2em white;
}
