body {
    margin: 0;
}

@media only screen and (min-width: 732px) {
    
    .header {   
        display: flex;
        justify-content: center;
        height: 40vh;
        width: 100vw;
        background-color: rgb(90, 225, 249);
    }

    .cloud-left {
        width: 600px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -100px;
        left: -100px;
    }

    .cloud-right {
        width: 600px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -100px;
        right: 100px;
    }
    
    #cloud-base {
        top: 90px;
        height: 100px;
        filter: url(#filter-base);
        box-shadow: 200px 170px 19px 40px rgba(255, 255, 255, 0.9);
    }
    #cloud-back {
        top: 90px;
        height: 30px;
        width: 500px;
        filter: url(#filter-back);
        box-shadow: 200px 200px 10px 40px rgba(215, 215, 215, 0.3);
    }
    
    #cloud-mid {
        top: 80px;
        width: 580px;
        height: 35px;
        filter: url(#filter-mid);
        box-shadow: 210px 250px 28px 30px rgba(66, 105, 146, 0.2);
    }
    
    #cloud-front {
        top: 70px;
        width: 450px;
        height: 40px;
        left: -20px;
        filter: url(#filter-front);
        box-shadow: 210px 272px 30px 0px rgba(0, 0, 0, 0.4);
    }

    .header:hover .cloud-left {
        transition: 100s;
        transform: translate(40em,-20em) scale(2, 2);
    }
    
    .header:hover .cloud-right {
        transition: 200s;
        transform: translate(-100em,0);
    }

    .header-to-body {
        height: 100vh;
        width: 100vw;
        background: linear-gradient(to bottom, rgba(90,225,249,1) 0%, rgb(2, 2, 74) 100%);
    }
    
}

.starry-sky {
    height: 100vh;
    width: 100vw;
    background-color: rgb(2, 2, 74);
    position: relative;
    overflow: hidden;
}

.moon {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 200px;
    font-size: 100px;
    background-color: whitesmoke;
    border-radius: 50%;
    margin-left: 10px;
    overflow: hidden;
}

.moon:hover {
    cursor:pointer; 
}

@media only screen and (max-width: 732px) {
    .moon {
        height: 50px;
        width: 50px;
    }
}

#partition {
    background-color: black;
}

.body-to-bottom {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgb(2, 2, 74) 0%, rgb(0, 0, 21) 100%);
}

.bottom {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 21);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-in {
    background-color: cadetblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s, height 6s;
}

.bottom-in:hover {
    background-color: cadetblue;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.bottom i {
    color: white;
    font-size: 100px;
    opacity: .8;
}

.bottom i:hover {
    text-shadow: 0 0 0.2em white;
}
